.feedback {
    width: 470px;
    height: 200px;
    background-color: #eef4f6;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 360px;
     margin-bottom: 5px;
}
i, 
i+b{
    text-align: center;
  
}
.testimonial {
    padding: 5px;
    float: left;
    text-align: center;
    margin-right: 20px;
    border: 0px solid ;
    background-color: #d9eaf2;
    width: 200px;
    border-radius: 8px;
}
.testimonial:hover{
    background-color: #bee2f4;
}