#card_container {
    width: 50%;
    padding: 0%;
}
.card {
    background-color: #d9eaf2;
    border-radius: 8px;
    padding: 0%;
    text-indent: 10px;
   
    
}
.card ,
.card + .card{
    margin-bottom: 30px;
}
.card:hover{
    background-color: #bee2f4;
}