*{
    margin: 5px;
    padding: 5px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.main_title {
color: #175e82;
}
.subheading {
    color: #1f7ead;
}
.example {
    color: #093d56;
}
.highlight {
    background-color: #f5e7a3;
    color: #001c2a;
}
