
#projile_card{
    border: 0px solid ;
    background-color: #d9eaf2;
    text-align: center;
    width: 30%;
    padding: 30px;
    border-radius: 16px;
    font-family:Arial, Helvetica, sans-serif; 
}
#projile_card:hover{
    background-color: aqua;
}
div img{
    border-radius: 360px;
}
.name {
    font-size: 50px;
}
.bio {
    color:#2e576b ;
    font-size: 30px;
}
.follow {
    width: 150px;
    height: 50px;
    font-size: 25px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #269dd9;
}
.follow::after{
    content: "\2192";
}
